* {
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-size: 16px;
    width: 1300px;
    color: #83869A;
    line-height: 28px;
    overflow-x: hidden;
}

.heading {
    width: 100%;
    height: 100px;
}

.dark-logo {
    width: 111.17px;
    height: 27.68px;
    margin-left: 80px;
    margin-top: 38.75px;
}

button {
    width: 167px;
    height: 56px;
}

.dark-button {
    position: absolute;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 28px;
    color: #FFFFFF;
    background: #13183F;
    border-radius: 28px;
    margin-top: 38.75px;
    margin-right: 200px;
    left: 1100px;
    z-index: 2;
}

.dark-button:hover {
    background: #666CA3;
    cursor: pointer;
}

.container1 {
    width: 600px;
    height: 359px;
    margin-bottom: 50px;
    margin-top: 170px
}

h2 {
    font-weight: 800;
    font-size: 3.5em;
    line-height: 71px;
    color: #13183F;
    margin-left: 80px;
}

.container1-text {
    width: 484px;
    height: 84px;
    font-weight: 500;
    font-size: 1.125em;
    line-height: 28px;
    margin-left: 80px;
}

.pink-button {
    font-weight: 700;
    font-size: 1.125em;
    line-height: 28px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-color: #F02AA6;
    border-radius: 31.5px;
    margin-left: 80px;
    height: 63px;
}

.pink-button:hover {
    cursor: pointer;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.image {
    float: right;
    width: 991.63px;
    height: 300.92px;
    margin-top: -80px;
}

.image-hero {
    position: absolute;
    display: flex;
    width: 500px;
    height: 880px;
    left:800px;
    top: -45px;
}

.grid-container {
    width: 100vw;
    height: 888px;
    margin-bottom: 45px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow: row;
    margin-right: 50px;
    margin-left: 40px;
}

.container2 {
    width: 350px;
    height: 322px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 15px;
}

h3 {
    width: 286px;
    height: 120px;
    font-weight: 800;
    font-size: 2em;
    color: #FFFFFF;
    padding: 64px 32px 138px 32px;
}

.container3 {
    width: 350px;
    height: 322px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 15px;
    margin-top: 20px;
}

.sub-container3 {
    width: 286px;
    height: 218px;
    margin: 10px 32px 40px 32px;
}

.icon {
    width: 56px;
    height: 56px;
    margin-top: -27px;
    margin-left: 25px;
}

.container3-text {
    font-weight: 500;
    font-size: 1.125em;
    line-height: 28px;
    width: 286px;
    height: 112px;
    margin-top: -15px;
}

h5 {
    font-weight: 800;
    font-size: 1.5em;
    line-height: 30px;
    color: #13183F;
}

a {
    font-weight: 700;
    font-size: 1.125em;
    line-height: 28px;
    color: #F74780;
    height: 28px;
    width: 104px;
    margin-top: 190px;
}

a:hover {
    cursor: pointer;
    color: #FFA7C3;
}

footer {
    width: 100vw;
    height: 100px;
    background: #13183F;
}

.logo-light {
    margin: 37px 80px 20px 80px;
}

.purple-button {
    float: right;
    margin: 24px 80px 20px 80px;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 28px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    border-radius: 28px;
}

.purple-button:hover {
    cursor: pointer;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

@media only screen and (max-width: 768px) {
    body {
        width: 768px;
    }
    .heading {
        width: 768px;
        height: 48px;
    }
    .dark-logo {
        width: 89px;
        height: 35px;
        margin-top: 31px;
        margin-left: 39px;
    }
    .dark-button {
        width: 140px;
        height: 48px;
        margin-right: 40px;
        left: 600px;
    }
    .container1 {
        width: 100%;
        height: 294px;
        margin-bottom: 50px;
    }
    h2 {
        width: 326px;
        height: 101px;
        font-size: 2.5em;
        line-height: 50px;
        margin-left: 39px;
    }
    .container1-text {
        height: 78px;
        width: 350px;
        font-weight: 500;
        font-size: 1em;
        line-height: 26px;
        margin-left: 39px;
    }
    .pink-button {
        font-weight: 700;
        font-size: 1em;
        line-height: 26px;
        margin-left: 39px;
        height: 56px;
        width: 167px;
    }
    .image {
        width: 401px;
        height: 200px;
        margin-bottom: 93px;
        overflow-x: hidden;
    }
    .image-hero {
        max-width: 100%;
        height: 700.53px;
        left: 350.31px;
        top: -10px;
        overflow-x: hidden;
    }
    .grid-container {
        height: 913px;
        width: 689px;
        grid-template-columns: repeat(2, 50%);
        grid-gap: 20px;
    }
    .container2 {
        width: 100%;
        height: 259px;
    }
    h3 {
        width: 286px;
        height: 64px;
        font-weight: 800;
        font-size: 1.5em;
        margin: 56px 32px 138px 32px;
    }
    .container3 {
        width: 100%;
        height: 259px;
    }
    .sub-container3 {
        width: 286px;
        height: 218px;
        margin: 8px;
    }
    .container3-text {
        font-size: 0.9em;
        line-height: 26px;
        height: 78px;
        width: 286px;
    }
    h5 {
        font-weight: 800;
        font-size: 1.25em;
        line-height: 28px;
    }
    footer {
        width: 768px;
        height: 80px;
    }
    .logo-light {
        margin: 20px 80px 20px 40px;
    }
    .purple-button {
        margin: 13px 80px 20px 40px;
        height: 48px;
        width: 140px;
        left: 549px;
    }
}

@media only screen and (max-width: 480px) {
    body {
        max-width: 100vw;
    }
    .heading {
        width: 90%;
        height: 48px;
    }
    .dark-logo {
        width: 89px;
        height: 35px;
        margin-top: 22px;
        margin-left: 16px;
    }
    .dark-button {
        width: 140px;
        height: 48px;
        left: 203px;
        margin-right: 40px;
        margin-top: 16px;
    }
    .container1 {
        width: 90%;
        height: 300px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    h2 {
        width: 343px;
        height: 101px;
        font-size: 2.5em;
        line-height: 50px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .container1-text {
        width: 343px;
        height: 78px;
        font-size: 1em;
        line-height: 26px;
        margin-left: 16px;
    }
    .pink-button {
        font-size: 1.em;
        line-height: 26px;
        margin-left: 16px;
        height: 56px;
    }
    .image {
        float: none;
        width: 375px;
        height: 320px;
        margin-bottom: 30px;
        margin-top: 10px;
        left: 30px;
    }
    .image-hero {
        max-width: 90%;
        height: 301px;
        left: 24px;
        top: 433px;
    }
    .grid-container {
        width: 90%;
        grid-template-columns: 1fr;
        margin-bottom: 80px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .container2 {
        width: 90%;
        height: 120px;
        margin-bottom: 30px;
    }
    h3 {
        width: 289.5px;
        height: 64px;
        font-weight: 800;
        font-size: 1.5em;
        padding: 1px;
        margin-top: 30px;
    }
    .container3 {
        width: 90%;
        height: 283px;
    }
    .sub-container3 {
        margin: 15px;
    }
    .container3-text {
        font-size: 1em;
        line-height: 26px;
    }
    footer {
        position: absolute;
        height: 120px;
        width: 100vw;
        margin-top: 805px;
    }
    .logo-light {
        margin: 36px 80px 36px 16px;
    }
    .purple-button {
        margin-right: 30px;
        height: 48px;
        width: 140px;
        margin-top: 38px;
    }
}